body {color: white; background-color: pink; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
a {color: white}
nav {
    padding: 10px;
    margin-bottom: 10px;
    background-color: pink;
}
nav a {color: white;}
nav {color: white}
nav a:hover {background-color: lightskyblue}

div{
    border: 1px solid white;
    margin: 10px;
    padding: 50px;
    background-color:pink;
    border-radius: 25px;
}

.slayyy {display: block; margin: 0 auto;}